{% load staticfiles %}
<!-- Menu -->
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li>
                <a class="{% if pagina == 'home' %}active-menu{% endif %} waves-effect waves-dark"
                   href="{% url 'home' %}"><i class="fa fa-bar-chart-o"></i>
                    Página Inicial</a>
            </li>

            <li>
                <a href="#" class="waves-effect waves-dark"><i
                        class="fa fa-user"></i> Paciente<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{% url 'paciente_index' %}"
                           class="{% if pagina == 'paciente_index' %}active-menu{% endif %} waves-effect waves-dark"
                        ><i class="fa fa-list-ul"></i>Lista
                            de Pacientes</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#" class="waves-effect waves-dark"><i
                        class="fa fa-stethoscope"></i> Médico<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{% url 'medico_index' %}"
                           class="{% if pagina == 'medico_index' %}active-menu{% endif %} waves-effect waves-dark"
                        ><i class="fa fa-list-ul"></i>Lista
                            de Médicos</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#" class="waves-effect waves-dark
                    {% if pagina == 'cuidador_index' or pagina == 'cuidador_contratos' %} active-menu {% endif %}"><i class="fa fa-eye"></i> Cuidador<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{% url 'cuidador_index' %}"
                           class="{% if pagina == 'cuidador_index' %}active-menu{% endif %} waves-effect waves-dark"><i
                                class="fa fa-list-ul"></i>Lista
                            de Cuidadores</a>
                    </li>
                    <li>
                        <a href="{% url 'cuidador_contratos' %}"
                           class="{% if pagina == 'cuidador_contratos' %}active-menu{% endif %} waves-effect waves-dark">
                            <i class="fa fa-gavel"></i> Contratos</a>
                    </li>
                </ul>
            </li>


            <li>
                <a href="#" class="waves-effect waves-dark"><i
                        class="fa fa-male"></i> Responsável<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{% url 'responsabilidades' %}"
                           class="{% if pagina == 'responsabilidades' %}active-menu{% endif %}  waves-effect waves-dark"><i
                                class="fa fa-list-ul"></i>Lista
                            de Responsabilidades</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#" class="waves-effect waves-dark"><i
                        class="fa fa-eye"></i> Administrador<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#"
                           class="{% if pagina == '?' %}active-menu{% endif %}  waves-effect waves-dark"><i
                                class="fa fa-list-ul"></i>Opção 1</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<!-- Fim Menu  -->