{% load staticfiles %}
<!-- Menu -->
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li>
                <a class="{% if pagina == 'home' %}active-menu{% endif %} waves-effect waves-dark"
                   href="{% url 'home' %}"><i class="fa fa-bar-chart-o"></i>
                    Página Inicial</a>
            </li>
            <li>
                <a href="{% url 'paciente' %}"
                   class="{% if pagina == 'paciente' %}active-menu{% endif %} waves-effect waves-dark"><i
                        class="fa fa-user"></i> Paciente</a>
            </li>
{#            <li>#}
{#                <a href="{% url 'medico' %}"#}
{#                   class="{% if pagina == 'medico' %}active-menu{% endif %} waves-effect waves-dark"><i#}
{#                        class="fa fa-stethoscope"></i> Médico</a>#}
{#            </li>#}
{#            <li>#}
{#                <a href="{% url 'cuidador' %}"#}
{#                   class="{% if pagina == 'cuidador' %}active-menu{% endif %} waves-effect waves-dark"><i#}
{#                        class="fa fa-eye"></i> Cuidador</a>#}
{#            </li>#}
{##}
{#            <li>#}
{#                <a href="{% url 'familiar' %}"#}
{#                   class="{% if pagina == 'familiar' %}active-menu{% endif %} waves-effect waves-dark"><i#}
{#                        class="fa fa-male"></i> Familiar</a>#}
{#            </li>#}
{##}
{#            <li>#}
{#                <a href="{% url 'locais' %}"#}
{#                   class="{% if pagina == 'locais' %}active-menu{% endif %} waves-effect waves-dark"><i#}
{#                        class="fa fa-map-marker"></i> Locais</a>#}
{#            </li>#}

        </ul>
    </div>
</nav>
<!-- Fim Menu  -->