{% load staticfiles %}
<!-- Menu -->
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li>
                <a class="active-menu waves-effect waves-dark" href="index.html"><i class="fa fa-bar-chart-o"></i>
                    Página Inicial</a>
            </li>
            <li>
                <a href="ui-elements.html" class="waves-effect waves-dark"><i class="fa fa-user"></i> Paciente</a>
            </li>
            <li>
                <a href="chart.html" class="waves-effect waves-dark"><i class="fa fa-stethoscope"></i> Médico</a>
            </li>
            <li>
                <a href="tab-panel.html" class="waves-effect waves-dark"><i class="fa fa-eye"></i> Cuidador</a>
            </li>

            <li>
                <a href="tab-panel.html" class="waves-effect waves-dark"><i class="fa fa-male"></i> Familiar</a>
            </li>

            <li>
                <a href="tab-panel.html" class="waves-effect waves-dark"><i class="fa fa-map-marker"></i> Locais</a>
            </li>

        </ul>
    </div>
</nav>
<!-- Fim Menu  -->