{% extends 'prontuarioMedico/base.html' %}
{% load staticfiles %}


{% block title %}
    Médico
{% endblock title %}


{% block header %}
    Médicos
{% endblock header %}


{% block body %}
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-content">
                    {% block medico_body %}
                    {% endblock medico_body %}
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-action-btn horizontal click-to-toggle">
        <a class="btn-floating btn-large waves-effect waves-light red" title="Cadastrar Novo"><i class="material-icons">add</i></a>
    </div>

{% endblock body %}