{% extends 'prontuarioMedico/base.html' %}
{% load staticfiles %}

{% block title %}
    Prontuario Médico
{% endblock title %}

{% block header %}
    Atendimentos de Cuidadores
{% endblock header %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-content">
                    <div class="table-responsive">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Horario Inicial</th>
                                    <th>Horario Final</th>
                                    <th>CPF Cuidador</th>
                                    <th>Nome Cuidador</th>
                                    <th>CPF Paciente</th>
                                    <th>Nome Paciente</th>
                                    <th>Detalhes</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for atendimento in atendimentos %}
                                    <tr>
                                        <td>{{ atendimento.id }}</td>
                                        <td>{{ atendimento.horario_inicio }}</td>
                                        <td>{{ atendimento.horario_fim }}</td>
                                        <td>{{ atendimento.cpf_cuidador }}</td>
                                        <td>{{ atendimento.nome_cuidador }}</td>
                                        <td>{{ atendimento.cpf_paciente }}</td>
                                        <td>{{ atendimento.nome_paciente }}</td>
                                        <td>
                                            <div align="center"><a
                                                    href="{% url 'cuidador_atendimentos_detalhes' atendimento.id %}"><i
                                                    class="fa fa-search"></i></a></div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-action-btn horizontal click-to-toggle">
        <a class="btn-floating btn-large waves-effect waves-light red" title="Cadastrar Novo"
           href="{% url 'novo_atendimento' %}"><i class="material-icons">add</i></a>
    </div>

{% endblock body %}