{% extends 'prontuarioMedico/base.html' %}
{% load staticfiles %}

{% block title %}
    Prontuario Médico
{% endblock title %}

{% block header %}
    Cuidadores
{% endblock header %}
{% block body %}
    <ul class="tabs">
        <li class="tab col-sm-3"><a {% block c_index %}{% endblock c_index%} href="">Index</a></li>
		<li class="tab col-sm-3"><a href={% url 'cuidador_contratos' %}>Contratos</a></li>
{#		<li class="tab col s3"><a href="#test3">Disabled Tab</a></li>#}
{#		<li class="tab col s3"><a href="#test4">Test 4</a></li>#}
    </ul>
    {% block cuidador_body %}
    {% endblock cuidador_body %}

{% endblock body %}